<div class="fye-cards">
  <div class="fye-card" ng-repeat="result in results" ng-show="result.active">
    <div class="slide-left" ng-click="moveLeft($index)">
      <i class="left"></i>
    </div>
    <div class="fye-card-container" on-swipe-right="moveLeft($index)" on-swipe-left="moveRight($index)">
      <div class="base-info" ng-class="expanded? 'full-view':'basic-view'">
          {{result.obj}}      
      </div>
      <div class="detail-info" ng-if="expanded">
        <div class="score-card" ng-repeat="score in aspects">
          <h4>{{score.aspect}}</h4>
          <span>{{score.score}}</span>
        </div>
      </div>
    </div>
    <div class="slide-right" ng-click="moveRight($index)">
        <i class="right"></i>
    </div>
  </div>
</div>