<ion-view view-title="Home">
  <ion-content>
    <div class="search-bar">
      <input id="autocomplete" placeholder="Enter your address"
       type="text"></input>
    </div> 
    <div id="map" ng-init="geolocate()"></div>
    <div class="search-result" on-swipe-up="isExpand = true; swiped = true; broadcastMsg(isExpand)" on-swipe-down="isExpand = false; swiped = true; broadcastMsg(isExpand)" ng-if="serachedLoc" ng-class="isExpand? 'expanded' : swiped? 'collapsed' : ''" ng-init="isExpand = false">
      <div class="close" ng-click="resetAll(); broadcastMsg(isExpand)"></div>
      <fye-cards></fye-cards>
    </div>
  </ion-content>
</ion-view>
