<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">    
  <div data-role="main" class="ui-content">
      <div data-role="rangeslider">        
        <div id="slidecontainer">
        <p>Security: <span id="Security"></span></p>
        <input type="range" min="1" max="10" value="5" class="slider" id="securityRange">
        </div>
      </div>

      <div data-role="rangeslider">        
        <div id="slidecontainer">
        <p>Education: <span id="Education"></span></p>
        <input type="range" min="1" max="10" value="5" class="slider" id="educationRange">
        </div>
      </div>

      <div data-role="rangeslider">        
        <div id="slidecontainer">
        <p>Infra: <span id="Infra"></span></p>
        <input type="range" min="1" max="10" value="5" class="slider" id="infraRange">
        </div>
      </div>

      <div data-role="rangeslider">        
        <div id="slidecontainer">
        <p>Sports: <span id="Sports"></span></p>
        <input type="range" min="1" max="10" value="5" class="slider" id="sportsRange">
        </div>
      </div>
  </div>
</ion-side-menus>