<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <div data-role="main" class="ui-content">
      <div data-role="rangeslider">
        <div id="slidecontainer">
          <p>Security: <span id="Security" ng-init="Security=5" ng-bind="Security"></span></p>
          <input type="range" min="1" max="10" value="5" class="slider" id="securityRange" ng-model="Security" ng-change="ChangeSecurity()">
        </div>
      </div>

      <div data-role="rangeslider">
        <div id="slidecontainer">
          <p>Education: <span id="Education" ng-init="Education=5" ng-bind="Education"></span></p>
          <input type="range" min="1" max="10" value="5" class="slider" id="educationRange" ng-model="Education" ng-change="ChangeEducation()">
        </div>
      </div>

      <div data-role="rangeslider">
        <div id="slidecontainer">
          <p>Infra: <span id="Infra" ng-init="Infra=5" ng-bind="Infra"></span></p>
          <input type="range" min="1" max="10" value="5" class="slider" id="infraRange" ng-model="Infra" ng-change="ChangeInfra()">
        </div>
      </div>

      <div data-role="rangeslider">
        <div id="slidecontainer">
          <p>Sports: <span id="Sports" ng-init="Sports=5" ng-bind="Sports"></span></p>
          <input type="range" min="1" max="10" value="5" class="slider" id="sportsRange" ng-model="Sports" ng-change="ChangeSports()">
        </div>        
      </div>
      <div class="buttondiv">
        <button id="btnGo" ng-click="Go({value1: Security, value2: Education, value3: Infra, value4: Sports})" value="Go" class="gobutton">Go</button>
        <!--<button id="btnSchoolAnalysis" ng-click="SchoolAnalysis()" value="Go" class="gobutton spacing">School Analysis</button>-->
      </div>
    </div>
</ion-side-menus>