.gobutton{
    -webkit-appearance: none;
    background-color: #0C6BAA;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    margin-left: -35px;
}

.gobutton.spacing{
    margin:0 4px;
}

.buttondiv{
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

/* Empty. Add your own CSS if you like */
#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */    
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    visibility: visible;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0C6BAA; /* Blue background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0C6BAA; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


@keyframes expand-me {
    0%   {height: 23%;}
    100% {height: 100%;}
}
@keyframes collapse-me {
    0%   {height: 100%;}
    100% {height: 23%;}
}

#map{
    height: 100%;
}
.search-bar{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: rgba(96, 99, 106, 0.61);
    border-radius: 2px;
    box-shadow: -1px 1px 1px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.search-result{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 23%;
    background: rgba(96, 99, 106, 0.8);
    border-radius: 2px;
    box-shadow: 0px -1px 1px black;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;  
    justify-content: center;        
}

.search-result.expanded{
    height: 100%;
    animation-name: expand-me;
    animation-duration: 0.5s;      
}

.search-result.collapsed{
    height: 23%;
    animation-name: collapse-me;
    animation-duration: 0.5s;      
}

.search-bar > input {
    width: 100%;
    border-radius: 2px;
    padding: 2px;
    opacity: 0.9;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
  }

  .close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .expand-result{
    cursor: pointer;
    text-align: center;
}

  i {
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.slide-left{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.slide-right{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.fye-cards{
    height: 90%;
    margin: 5px 5px;    
}
.fye-card{
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 100%;
}

.fye-card-container{
    width: 80%;
    background-color: whitesmoke;
    border: 1px solid;  
    text-align: center;  
}

.fye-card-container .base-info{
    min-height: 20%;
}
.fye-card-container .detail-info{
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.fye-card.slide-right{
    width: 20%;
}

.fye-card.slide-left{
    width: 20%;
}

.basic-view{
    height: 100%;
}

.full-view{
    height: 20%;
}

.score-card{
    min-height: 15%;
    background-color: white;
    border: 1px solid;
    margin: 5px;
    box-shadow: 1px 1px 1px grey;
    padding: 3px;
    display: flex;
}
.score-card:active{
    background-color: rgb(141, 137, 137);
}

.result-block{
    margin: 0 30px;
}

.toggle-analysis{
    bottom: 8%;
    position: fixed;
    align-self: center;    
}

.icon-security:after{
    display: inline-block;
    content: '';
    background-image: url('https://cdn.onlinewebfonts.com/svg/img_94122.png');
    background-size: 100%; 
    height: 50px;
    width: 50px;
}

.icon-education:after{
    display: inline-block;
    content: '';
    background-image: url('http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/rounded-glossy-black-icons-culture/033340-rounded-glossy-black-icon-culture-books3-stacked.png');
    background-size: 100%;
    height: 50px;
    width: 50px;    
}

.icon-infra:after{
    display: inline-block;
    content: '';
    background-image: url('https://cdn0.iconfinder.com/data/icons/flatt3d-icon-pack/512/Flatt3d-Building-256.png');
    background-size: 100%;
    height: 50px;
    width: 50px;
}

.icon-others:after{
    display: inline-block;
    content: '';
    background-image: url('https://cdn2.iconfinder.com/data/icons/sports-vol-1/128/013-512.png');
    background-size: 100%;
    height: 50px;
    width: 50px;
}