/* Empty. Add your own CSS if you like */
#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */    
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    visibility: visible;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0C6BAA; /* Blue background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


@keyframes expand-me {
    0%   {height: 23%;}
    100% {height: 100%;}
}
@keyframes collapse-me {
    0%   {height: 100%;}
    100% {height: 23%;}
}

#map{
    height: 100%;
}
.search-bar{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: rgba(96, 99, 106, 0.61);
    border-radius: 2px;
    box-shadow: -1px 1px 1px;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.search-result{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(96, 99, 106, 0.61);
    border-radius: 2px;
    box-shadow: 0px -1px 1px black;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;      
}

.search-result.expanded{
    height: 100%;
    animation-name: expand-me;
    animation-duration: 0.5s;      
}

.search-result.collapsed{
    height: 23%;
    animation-name: collapse-me;
    animation-duration: 0.5s;      
}

.search-bar > input {
    width: 100%;
    border-radius: 2px;
    padding: 2px;
    opacity: 0.9;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
  }

  .close:before, .close:after {
    position: absolute;
    left: 5px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: black;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .expand-result{
    cursor: pointer;
    text-align: center;
}

  i {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
  .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.fye-cards{
    height: 100%;
    margin: 5px 5px;    
}
.fye-card{
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 100%;
}

.fye-card.slide-left{
    width: 20%;
}

.fye-card.slide-left{
    width: 20%;
}
